@mixin hide-show {
  opacity: 0;
  visibility: hidden;
  transition:
    opacity 500ms ease-out,
    visibility 0ms ease-out 500ms;

  &.show {
    opacity: 1;
    visibility: visible;
    transition-delay: 0ms;
  }
}
