// Colours
// https://www.realtimecolors.com/?colors=12190b-fafcf8-82b84c-9ad6a0-80cb8d&fonts=Inter-Inter
$text: #121a0b;
$background: #f9fcf7;
$primary: #9bd6a1;
$secondary: #81b74c;
$accent: #7fcb8c;
